*.class
*.diff
*.patch
/.svn
.DS_Store
/*.iml
/*.ipr
/*.iws
/*.jar
/.classpath
/.file_store_32
/.idea
/.jagex_cache_32
/.project
/.settings
/bin
/lib/*.jar
/scripts/*.class
/temp/*
/scripts/
/devscripts/
/temp.txt
/build.xml
/manifest.mf
/nbproject
